.hljs {
  background: #2d3748 !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  margin-right: 8px;
  margin-bottom: 20px;
  border-radius: 25px;
  background: #4A5568;
}
::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: #1A202C;
}