.toasted .primary,
.toasted.toasted-primary {
  border-radius: 6px !important;
  justify-content: start !important;
  font-weight: 400 !important;
}

.toasted .primary.error,
.toasted.toasted-primary.error {
  background: #E53E3E !important
}

.toasted .primary.success,
.toasted.toasted-primary.success {
  background: #38A169 !important
}